.container {
  display: flex;
  width: 100vw;
  background-color: #252b3b;
  padding: 48px 0px;
  z-index: -100;
}
.dotood {
  display: flex;
  justify-content: space-between;
  color: white;
}

.logo {
  background-image: url(/src/assets/team..svg);
  background-size: cover;
  background-repeat: none;
  width: 5vw;
  height: 1.3vw;
  margin-bottom: 4vh;
}

p {
  font-size: 14px;
}

.button {
  width: 100%;
  margin-top: 24px;
  text-align: left;
  border-radius: 0;
  width: 297px;
  height: 56px;
  border: none;
  outline: none;
}

.button::placeholder {
  padding: 10px;
  font-weight: 500;
  color: #4da0fd;
}

@media screen and (max-width: 576px) {
  .button {
    width: 40vw;
  }
}
