.container {
  display: flex;
  width: 100vw;
  background-color: #252b3b;
  padding: 48px 0px;
  z-index: -100;
}
.dotood {
  display: flex;
  justify-content: space-between;
  color: white;
}

.logo {
  background-image: url(/src/assets/team..svg);
  background-size: cover;
  background-repeat: none;
  width: 5vw;
  height: 1.3vw;
  margin-bottom: 4vh;
}

p {
  font-size: 14px;
}

.button {
  width: 100%;
  margin-top: 24px;
  text-align: left;
  border-radius: 0;
  width: 297px;
  height: 56px;
  border: none;
  outline: none;
}

.button::placeholder {
  padding: 10px;
  font-weight: 500;
  color: #4da0fd;
}

@media screen and (max-width: 1200px) {
  p {
    font-size: 12px;
  }
}
@media screen and (max-width: 992px) {
  .dotood {
    width: 80vw;
  }
  p {
    font-size: 10px;
  }
  .sText {
    font-size: 15px;
  }
  .button {
    width: 19vw;
    height: 5vh;
  }
}
@media screen and (max-width: 768px) {
  .dotood {
    width: 80vw;
  }
  p {
    font-size: 9px;
  }
  .sText {
    font-size: 15px;
  }
  .button {
    width: 19vw;
    height: 5vh;
  }
}
@media screen and (max-width: 576px) {
  .dotood {
    width: 50vh;
  }
  p {
    font-size: 8px;
  }
  .sText {
    font-size: 8px;
    width: 5vh;
  }
  .button {
    width: 12vw;
    height: 3vh;
  }
}
