.container {
  height: 100vh;
  display: flex;
  align-items: center;
  background-image: url(/src//assets//backG.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 100vw;
}

.textCont {
  width: 23vw;
  min-width: 23vw;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 5vh;
}
.text {
  font-size: 48px;
}
.desc {
  font-size: 18px;
  font-weight: 500;
}

.input {
  min-width: 15vw;
  height: 6vh;
}
.button {
  width: 9vw;
  height: 6vh;
  align-items: center;
  border: none;
  background-color: #0bbef2;
}

.inpB {
  display: flex;
  gap: 2vh;
  width: 25vw;
  margin-top: 3%;
}

.container2,
.container3,
.container4 {
  height: 100vh;
  display: flex;
  align-items: center;
  /* border: 1px solid red; */
  position: relative;
  z-index: -100;
  width: 100vw;
  transition: 500ms;
}
.text2 {
  font-size: 48px;
  font-weight: bold;
}

.desc2 {
  font-size: 16px;
  font-weight: 500;
}

.textCont2 {
  width: 21vw;
  color: black;
  display: flex;
  margin-top: 7%;
  flex-direction: column;
  gap: 5vh;
}

.image {
  background-image: url(../assets//meeting.png);
  background-size: cover;
  height: 70vh;
  min-width: 30vw;
  position: absolute;
  right: 16%;
  top: 20%;
}

.not {
  position: absolute;
  top: 14%;
  left: -20%;
  width: 273px;
  height: 160px;
  border-radius: 6px;
  border: none;
  background-image: url(../assets//not.png);
  background-size: cover;
}
.ring {
  background-image: url(../assets//honh.png);
  background-size: cover;
  position: absolute;
  bottom: 12%;
  left: -4%;
  width: 120px;
  height: 120px;
}

.sched {
  background-image: url(../assets//sched.png);
  background-size: cover;
  position: absolute;
  top: -3%;
  right: 23%;
  width: 150px;
  height: 150px;
}

.image2 {
  background-image: url(/src/assets/ajima.svg);
  background-size: cover;
  height: 70vh;
  width: 35vw;
  display: flex;
  margin-top: 7%;
}

.textCont3 {
  width: 21vw;
  color: black;
  display: flex;
  position: absolute;
  right: 16%;
  top: 20%;
  margin-top: 7%;
  flex-direction: column;
  gap: 5vh;
}

.text3 {
  font-size: 48px;
  font-weight: bold;
}

.image3 {
  background-image: url(/src/assets/ahhuu.svg);
  background-size: cover;
  height: 70vh;
  width: 35vw;
  position: absolute;
  right: 16%;
  top: 20%;
}
.slide {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  overflow: scroll;
}

.rightLeft {
  display: flex;
  align-items: center;
  position: absolute;
  right: 100px;
  bottom: 170px;
  justify-content: center;
  flex-direction: row;
  gap: 15px;
}
.section69 {
  padding: 10vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
  z-index: -1;
}

.container69 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: 80vh;
  gap: 14px;
}
.word {
  text-align: center;
  padding: 10px 0 0 0;
  font-weight: bold;
  font-size: 48px;
}

.btnCont {
  position: relative;
  top: 0;
}

.buttons {
  position: absolute;
  bottom: 100%;
  right: 10%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10%;
  z-index: 100;
}
@media screen and (max-width: 1400px) {
  .textCont {
    width: 30vw;
  }
  .text {
    font-size: 44px;
  }
  .input {
    width: 60%;
  }
  .button {
    width: 40%;
  }
  .inpB {
    width: 35%;
  }
  .text2 {
    font-size: 44px;
  }
  .desc2 {
    font-size: 14px;
  }

  .textCont2 {
    width: 26vw;
  }
  .image {
    width: 20vw;
    right: 10vw;
    top: 25vh;
  }
  .image2 {
    width: 40vw;
  }

  .textCont3 {
    margin-left: 85px;
    width: 30vw;
    right: 10%;
    top: 26%;
  }
  .image3 {
    height: 50vh;
    width: 35vw;
    right: 10vw;
  }
}
@media screen and (max-width: 1200px) {
  .textCont {
    width: 40vw;
  }
  .text {
    font-size: 44px;
  }
  .desc {
    font-size: 16px;
  }
  .input {
    width: 60%;
  }
  .button {
    width: 40%;
  }
  .inpB {
    width: 45%;
  }
  .text2 {
    font-size: 42px;
  }

  .desc2 {
    font-size: 14px;
  }

  .textCont2 {
    width: 31vw;
  }
  .image {
    height: 70vh;
    width: 35vw;
    position: absolute;
    right: 12vw;
    top: 20vh;
  }
  .image2 {
    height: 60vh;
    width: 40vw;
    margin-top: -8%;
  }

  .textCont3 {
    right: 12%;
    top: 16%;
  }
  .image3 {
    height: 50vh;
    width: 35vw;
    right: 10vw;
  }
}
@media screen and (max-width: 992px) {
  .textCont {
    width: 40vw;
  }
  .text {
    font-size: 40px;
  }
  .desc {
    font-size: 16px;
  }
  .input {
    width: 60%;
  }
  .button {
    width: 40%;
  }
  .inpB {
    width: 55%;
  }
  .text2 {
    font-size: 36px;
  }

  .desc2 {
    font-size: 13px;
  }

  .textCont2 {
    width: 36vw;
  }
  .image {
    height: 60vh;
    width: 30vw;
    position: absolute;
    right: 16vw;
    top: 25vh;
  }
  .image2 {
    position: absolute;
    left: 5vw;
    top: 30vh;
    height: 45vh;
    width: 45vw;
  }

  .textCont3 {
    width: 30vw;
    right: 16vw;
    top: 20%;
  }
  .image3 {
    height: 45vh;
    width: 45vw;
    top: 30%;
    right: 12vw;
  }
}
@media screen and (max-width: 768px) {
  .textCont {
    width: 50vw;
  }
  .text {
    font-size: 40px;
  }
  .desc {
    font-size: 16px;
  }
  .input {
    width: 60%;
  }
  .button {
    width: 40%;
  }
  .inpB {
    width: 80%;
  }

  .textCont2 {
    margin: 0;
    width: 100%;
  }
  .text2 {
    text-align: center;
    font-size: 36px;
  }

  .desc2 {
    font-size: 16px;
  }
  .image3 {
    height: 50vh;
    width: 90%;
    right: 16%;
    top: 50%;
  }

  .image {
    background-image: url(../assets/meeting1.png);
    position: absolute;
    top: 70vh;
    left: 5vw;
    height: 30vh;
    width: 90%;
  }
  .not,
  .ring,
  .sched {
    opacity: 0;
  }
  .container3 {
    height: 125vh;
    display: block;
  }
  .image2 {
    background-image: url(../assets/smile.png);
    position: absolute;
    top: 55vh;
    left: 5vw;
    height: 60vh;
    width: 90%;
  }

  .textCont3 {
    width: 90%;
    right: 5vw;
    top: 0;
  }
  .container4 {
    height: 125vh;
    display: block;
  }
  .image3 {
    background-image: url(/src/assets/glassg.png);
    top: 50vh;
    left: 5vw;
    height: 60vh;
    width: 90%;
  }
}
@media screen and (max-width: 576px) {
  .textCont {
    width: 90%;
  }
  .text {
    font-size: 40px;
  }
  .desc {
    font-size: 15px;
  }
  .input {
    width: 60%;
  }
  .button {
    width: 40%;
  }
  .inpB {
    width: 90%;
  }
  .text2 {
    font-size: 44px;
    font-weight: bold;
  }

  .desc2 {
    font-size: 16px;
    font-weight: 500;
  }

  .textCont2 {
    width: 100%;
    height: 80vh;
  }
  .image {
    top: 55%;
    left: 0vw;
    width: 100%;
    height: 33%;
  }
  .not,
  .ring,
  .sched {
    opacity: 0;
  }
  .image2 {
    height: 50vh;
    width: 90%;
  }
  .image3 {
    height: 50vh;
    width: 90%;
    right: 16%;
    top: 50%;
  }
}
