.container {
  display: flex;
  margin-top: 10vh;
  width: 100vw;
  flex-direction: column;
  /* justify-content: space-between; */
}
.column {
  margin-top: 5vh;
  display: flex;
  gap: 5vw;
  flex-wrap: wrap;
}

.button {
  display: flex;
  justify-content: center;
  margin: 5% 5%;
}
.btn {
  padding: 0 3vw 0 3vw;
  color: #232a31;
  background-color: #8896a188;
  border: none;
  height: 5vh;
}

.textCont {
  /* border: 1px solid red; */
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  color: black;
  gap: 3vh;
  width: fit-content;
}
.text {
  font-size: 48px;
  font-weight: 700;
}
.desc {
  font-size: 18px;
  font-weight: 500;
  color: #6d7d8b;
}
