.container {
  display: flex;
  width: 100vw;
  height: fit-content;
  flex-direction: column;
  /* justify-content: space-between; */
}

.cont {
  margin-top: 10vh;
}
.column {
  margin-top: 5vh;
  display: flex;
  gap: 4vw;
  flex-wrap: wrap;
}

.button {
  display: flex;
  justify-content: center;
  margin: 5% 5%;
  gap: 1vw; 
}
.btn {
  padding: 0 3vw 0 3vw;
  color: #232a31;
  background-color: #8896a188;
  border: none;
  /* width: 5vw; */
  height: 5vh;
  opacity: 1;
}
.btn2 {
  padding: 0 3vw 0 3vw;
  color: #232a31;
  background-color: #8896a188;
  border: none;
  /* width: 5vw; */
  height: 5vh;
  opacity: 0;
}

.textCont {
  /* border: 1px solid red; */
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  color: black;
  gap: 3vh;
  width: fit-content;
}
.text {
  font-size: 48px;
  font-weight: 700;
}
.desc {
  font-size: 18px;
  font-weight: 500;
  color: #6d7d8b;
}
