.container {
  display: flex;
  height: fit-content;
  width: 100vw;
  flex-direction: column;
}

.cont {
  margin-top: 20vh;
}

.txt {
  font-size: 48px;
  font-weight: bold;
  width: 30vw;
  margin: 0 0 5vh 17%;
}

.imgCont {
  /* border: 1px solid; */
  width: 100%;
  height: fit-content;
  margin-bottom: 5%;
}

.image {
  background-image: url(../assets//crowd.svg);
  background-repeat: none;
  background-size: cover;
  width: 100%;
  height: 60vh;
}
.footer {
  /* padding-top: 10%; */
  display: flex;
  gap: 1vw;
  align-items: center;
  margin: 0 0 5vh 17%;
}
.profile {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}
.name {
  font-weight: 400;
  color: grey;
  margin-left: -5px;
  font-size: 12px;
}
.vl {
  margin-left: 0px;
  /* align-items: center; */
  border: 1px solid grey;
  height: 14px;
}
.date {
  margin-right: 10px;
  color: grey;
  font-size: 12px;
  font-weight: 400;
}

.tCont {
  font-size: 18px;
  font-weight: 500;
  width: 700px;
  margin: 0 auto 5% auto;
}

.footer1 {
  display: flex;
  gap: 1vw;
  align-items: center;
  margin: 0 0 5vh 23%;
}

.name1 {
  font-size: 18px;
  font-weight: 500;
}
.name2 {
  font-size: 12px;
  font-weight: 500;
}
.name3 {
  font-weight: 400;
  color: grey;
  font-size: 12px;
}
.tCont1 {
  font-size: 18px;
  font-weight: 500;
  width: 700px;
  display: flex;
  margin: 0 auto 5% auto;
}
.line {
  width: 55%;
  text-align: left;
  margin: 0 auto 5% auto;
}
.join {
  margin: 0 auto 1% auto;
  font-size: 24px;
  width: 55%;
  font-weight: 400;
  color: grey;
}
.input {
  width: 630px;
  height: 148px;
  margin-left: 10px;
}


